# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules
.pnp
.pnp.js

# Local env files (Never commit secrets!)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Testing and Coverage
coverage
*.lcov

# Build Outputs & Tooling Caches
.next/
out/
build
dist
.turbo
.vercel
.tsbuildinfo
*.tscache
tsc-check-cache.json

# Debug Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local Database / Environment infrastructure
.docker/

# System & Misc files
.DS_Store
*.pem

**/generated/prisma/
**/generated/